@use 'variables' as v;

*, *:before, *:after {
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
    height: 100%;
}
body {
    font-family: v.$fuente_textos;
    font-size: 1.6rem;
    min-height: 100%;
}
.contenedor {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}
.contenedor-sm {
    max-width: 70rem;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
.mensaje{
    width: 70%;
    margin: 0 auto;
    margin-bottom: 2rem;
    padding: 1rem;
    //color amarillo de advertencia
    background-color: #fbc02d;
    border-radius: .5rem;
    color: rgb(95, 95, 95);
    text-align: center;
}

.container__agregar{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 25.5rem;
    margin: 2rem;
    .agregar{
        padding: 1rem;
        //color verde de exito
        background-color: v.$primary-color;
        border-radius: .5rem;
        color: rgb(255, 255, 255);
        text-align: center;
    }
}

